  body{
    background-color:honeydew;
  }
  
  .theme{
    font-family: cursive;
  }
  
  .container{
  }
  
  .container-main{
    margin-top:90px
  }
  
  .person{
    background-color:lightgreen;
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
  }
  
  .personRow{
  	padding-top:10px;
  	padding-bottom:10px;
  }
  
  .personRow span{
  margin-top:5px;
  margin-bottom:5px;
  }
  
  .submitButtonArea{
    padding:10px;
  }
  
  header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

header .theme {
	line-height:65px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

